<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="yanbal.configreader" version="1.0">

    <name>Config Reader</name>
    <description>A File Config Reader for Cordova. (Pier Castaneda's Version)</description>
    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/plugins.ConfigReader.js" name="ConfigReader">
        <clobbers target="cordova.plugins.ConfigReader" />
    </js-module>
    
	<!-- Android -->
    	<platform name="android">
        	<source-file src="src/android/ConfigReader.java" target-dir="src/yanbal/plugins/configreader" />
        	<config-file target="res/xml/config.xml" parent="/*">
	            <feature name="ConfigReader">
	                <param name="android-package" value="yanbal.plugins.configreader.ConfigReader" />
	            </feature>
	        </config-file>
	        <config-file target="AndroidManifest.xml" parent="/*">
	            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	        </config-file>
    	</platform>
    	<!-- iOS -->
    	<platform name="ios">
	        <config-file target="config.xml" parent="/*">
	            <feature name="ConfigReader">
	                <param name="ios-package" value="ConfigReader" />
	            </feature>
	        </config-file>
	        <source-file src="src/ios/ConfigReader.m" />
	        <header-file src="src/ios/ConfigReader.h" />
    	</platform>
	<!-- WP8 -->
	<platform name="wp8">
		<config-file target="config.xml" parent="/*">
		  <feature name="ConfigReader">
			<param name="wp-package" value="ConfigReader" />
		  </feature>
		</config-file>
		<source-file src="src/wp8/ConfigReader.cs" />
	</platform>
</plugin>
