<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="io.github.pwlin.cordova.plugins.fileopener2" version="1.0.11">

    <name>Config Reader</name>
    <description>A File Config Reader for Cordova. (Pier Castaneda's Version)</description>
    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/plugins.ConfigReader.js" name="ConfigReader">
        <clobbers target="cordova.plugins.ConfigReader" />
    </js-module>

	<!-- WP8 -->
	<platform name="wp8">
		<config-file target="config.xml" parent="/*">
		  <feature name="ConfigReader">
			<param name="wp-package" value="ConfigReader" />
		  </feature>
		</config-file>
		<source-file src="src/wp8/ConfigReader.cs" />
	</platform>
</plugin>
